// Colors
$off-black:linear-gradient(to right, #4e4376, #2b5876);;
$dark-blue: #333745;
$off-white: #e7e7e7;

$purple :#4e4376;
$blue:  linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$light-blue: #464b5e;

/* Spaces */
$s-size : 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
